*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.loa
*.tdo
thesis.pdf
**/test*.tex
**/test*.pdf
**/test*.synctex.gz
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex (1).gz
*.fls
*.bcf
*.run.xml
*.lot
*.lof

/build/
/.idea/
